/*-- scss:defaults --*/

$navbar-bg: #ad7237;    // Couleur de fond de la barre de navigation (orange)
$navbar-fg: #ffffff;    // Couleur du texte de la barre (Blanc)
$body-bg:   #382929;    // Couleur de fond de la page (marron)