@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*-- scss:defaults --*/

// Personnalisation du thème clair
$navbar-bg: #1A365D; // Un beau bleu nuit pro pour la barre de navigation
$navbar-fg: #ffffff; // Texte blanc sur la barre
$body-bg:   #F8F9FA; // Un fond très légèrement gris/blanc, plus doux pour les yeux que le blanc pur
$link-color: #2B6CB0; // Une couleur bleue assortie pour tes liens