@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*-- scss:defaults --*/

// 
$navbar-bg: #1A365D; // 
$navbar-fg: #ffffff; // 
$body-bg:   #F8F9FA; // 
$link-color: #2B6CB0; // 

/*-- scss:rules --*/

// On applique la police Google Font au corps du site
body {
  font-family: 'Roboto', sans-serif;
}
